
  <ion-grid no-padding no-bounce>
    <ion-row>
      <ion-col col-12 style="background:gray !important; height: 45vh !important;">
        <div text-center large margin-vertical dark>
          <ion-icon [name]="pin.length>0 ? 'radio-button-on' : 'radio-button-off'"></ion-icon>
          <ion-icon [name]="pin.length>1 ? 'radio-button-on' : 'radio-button-off'"></ion-icon>
          <ion-icon [name]="pin.length>2 ? 'radio-button-on' : 'radio-button-off'"></ion-icon>
          <ion-icon [name]="pin.length>3 ? 'radio-button-on' : 'radio-button-off'"></ion-icon>
        </div>
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col col-12 style="background:#000 !important; height: 55vh !important;">
        <ion-grid text-center>
          <ion-row>
            <ion-col>
              <button ion-button round small clear color="light" outline (click)="handleInput('1')">1</button>
            </ion-col>
            <ion-col>
              <button ion-button round small clear color="light" outline (click)="handleInput('2')">2</button>
            </ion-col>
            <ion-col>
              <button ion-button round small clear color="light" outline (click)="handleInput('3')">3</button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <button ion-button round small clear color="light" outline (click)="handleInput('4')">4</button>
            </ion-col>
            <ion-col>
              <button ion-button round small clear color="light" outline (click)="handleInput('5')">5</button>
            </ion-col>
            <ion-col>
              <button ion-button round small clear color="light" outline (click)="handleInput('6')">6</button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <button ion-button round small clear color="light" outline (click)="handleInput('7')">7</button>
            </ion-col>
            <ion-col>
              <button ion-button round small clear color="light" outline (click)="handleInput('8')">8</button>
            </ion-col>
            <ion-col>
              <button ion-button round small clear color="light" outline (click)="handleInput('9')">9</button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>

            </ion-col>
            <ion-col>
              <button ion-button round small clear color="light" outline (click)="handleInput('0')">0</button>
            </ion-col>
            <ion-col>

            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <button ion-button clear small no-padding color="light" (click)="handleInput('clear')">Clear</button>
            </ion-col>
            <ion-col>

            </ion-col>
            <ion-col>
              <button ion-button clear small (click)="emitEvent()" color="light">OK</button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>

