.ios,
.md {
  custom-pin {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    ion-grid,
    ion-row {
      height: 100%;
    }

    [upper] {
      background: linear-gradient(
        to left top,
        lighten(color($colors, dark), 20%),
        lighten(color($colors, dark), 30%)
      );

      ion-col {
        color: lighten(color($colors, dark), 70%);
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      [ion-button] {
        height: 5rem;
        width: 5rem;
        box-shadow: 0 1px 8px 0 color($colors, dark);
        border: 0;
        border-radius: .5rem;
      }

      [pin] {
        font-size: 4rem;
        letter-spacing: 16px;
      }
    }

    [lower] {
      background: linear-gradient(
        lighten(color($colors, dark), 10%),
        color($colors, dark)
      );
      padding-top: 1rem;

      [ion-button] {
        font-size: 150%;
      }
    }
  }
}
